.m-index {
  width: 100%;
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  .l-container {
    @include flex(1);
    width: 100%;
    overflow: hidden;
   
    .m-home {
      @include flexbox();
      @include flex-direction(column);
      height: 100%;
      overflow: hidden;
      > * {
        width: 100%;
      }
      header {
        background: #1b1b18;
        height: .44rem;
        ul {
          @include flexbox();
          height: 100%;
          li {
            height: 100%;
            &:not(:nth-child(2)) {
              width: .44rem;
              text-align: center;
              line-height: .44rem;
              color: #fff;
              font-size: .2rem;
            }
            &:nth-child(2) {
              @include flex(1);
              width: 100%;
              @include flexbox();
              @include justify-content(center);
              @include align-items(center);
              color: #fff;
              ul {
                width: 1.18rem;
                height: .25rem;
                @include border-radius(.1rem);
                overflow: hidden;
                li {
                  width: .59rem;
                  text-align: center;
                  line-height: .25rem;
                  font-size: .12rem;
                  &.active {
                    color: rgba(255,255,255,1);
                    background: rgba(100,217,133,1);
                  }
                }
              }
            }
          }
        }
      }
      .head {
                text-align: center;
                height: .3rem;
                line-height: .3rem;
            }
            .head img {
                display: inline-block;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                transition: transform 150ms;
                -webkit-transition: transform 150ms;
                height: .15rem;
                width: .15rem;
            }
            .up {
                transform: rotate(360deg) !important;
                -webkit-transform: rotate(360deg) !important;
            }
            .foot {
                text-align: center;
                height: .3rem;
                line-height: .3rem;
            }
            .foot img {
                display: inline-block;
                /*transform: rotate(0deg);*/
                /*-webkit-transform: rotate(0deg);*/
                transition: transform 150ms;
                -webkit-transition: transform 150ms;
                height: .15rem;
                width: .15rem;
            }
            .down {
                transform: rotate(180deg) !important;
                -webkit-transform: rotate(180deg) !important;
            }
      #bS-con{
        @include flexbox;
         @include flex-direction(column);
      }
      #bSlide{
        @include flex(1);
        @include flexbox;
        @include flex-direction(column);
      width:100%;
      overflow:hidden;
      // iscroll pull to refresh
            
        #lunBo{
            width: 100%;
            height: 148px;
            overflow: hidden;
            .swiper-wrapper{
                
                width: 100%;
                height: 148px;
                .swiper-slide{
                    float: left;
                     width: 100%;
                     height: 148px;
                     img{
                         width: 100%;
                         height: auto;
                     }
                }
            }
            
        }
        nav {
          height: .35rem;
          width: 100%;
          background: #eee;
          ul {
            width: 100%;
            height: 100%;
            @include flexbox();
            li {
              @include flex(1);
              text-align: center;
              line-height: .35rem;
              color: #aaa;
              @include border(0 0 1px 0, #d9d9d9);
              &.active {
                color: #000;
                background: #f5f5f5;
              }
            }
          }
        }
        #home-swiper{
          @include flex(1);
          @include flexbox();
          width:100%;
          .swiper-wrapper{
            height: 100%;
            .swiper-slide{
               width: 100%;
               height: 100%;
              section {
                @include flex(1);
                width: 100%;
                overflow: hidden;
                background: #fff;
                ul {
                  width: 100%;
                  margin-top: .05rem;
                  @include flexbox();
                  li {
                    &:not(:nth-child(2)) {
                      @include flex(1);
                      @include box-sizing(border-box);
                      @include border(1px, #d9d9d9);
                      img {
                        display: block;
                        width: 100%;
                      }
                      b {
                        display: block;
                        width: 90%;
                        margin: 0 auto;
                        line-height: 30px;
                        color: #000;
                        font-weight: normal;
                        padding: .08rem .05rem;
                        font-size: 14px;
                        p{
                            @include border(1px 0 0 0, #666);
                            display: block;
                            width: 100%;
                            height: auto;
                            line-height: 30px;
                            margin: 0 auto;
                            @include flexbox();
                            span{
                                @include flex(1);
                                &:last-child{
                                    text-align: right;
                                }
                                .yo-ico{
                                    font-size: 20px;
                                    color: #000;
                                }
                            }
                        }
                      }
                    }
                    &:nth-child(2) {
                      width: .05rem;
                    }
                  }
                  &:last-child {
                    padding-bottom: .8rem;
                  }
                }
            }
          }
        }
      }
    }
  }
}